<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Pharmacie
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content >
            <ion-item >
                <ion-label><strong>Pharmacie :</strong>{{pharmacie.nom}}</ion-label>
            </ion-item>
            <ion-item >
                <ion-label><strong>Téléphone :</strong>{{pharmacie.telephone}}</ion-label>
            </ion-item>
            <ion-item >
                <ion-label><strong>Adresse :</strong>{{pharmacie.adresse}}</ion-label>
            </ion-item>
            <ion-img  [src]="pharmacie.photo"   style="width: 250px;height: 130px;margin-top: 10px;"></ion-img>
        </ion-card-content>
    </ion-card>
    <agm-map   [zoom]="15" >
        <!--<agm-marker [latitude]="pharmacie.latitude" [longitude]="pharmacie.longitude" ></agm-marker>-->
        <!--<agm-marker [latitude]="origin.lat" [longitude]="origin.lng">-->
            <!--<agm-info-window>-->
                <!--<h3><strong>Howdy!</strong></h3>-->
                <!--<p>You are here!</p>-->
            <!--</agm-info-window>-->
        <!--</agm-marker>-->
        <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
    </agm-map>

</ion-content>
