<div class="body">
  <div class="login">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <div class="img"></div>
    <div class="connect"><h1>Connectez vous</h1></div>
    <form name="form-signin" (ngSubmit)="f.form.valid && onSubmit()"#f="ngForm" novalidate>
      <input [(ngModel)]="form.username" type="text" name="username" placeholder="Username" required="required" />
      <input [(ngModel)]="form.password" type="password" name="password" placeholder="Password" required="required" />

      <button type="submit">Sign in</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->