.body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  position: absolute;
  // background-image: url('../../../../assets/img/logo.jpg');
  background-color: #f1f1f1;

  & .login {
    margin: 170px auto;
    top: 10%;
    left: 50%;
    width: 355px;
    height: 330px;
    border: solid;
    border-color: white;
    padding-top: 20px;
    background-color: white;
  }
}